{
  "env": {
    "browser": true,
    "es5": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "dist/**/*.js"
  ]
}